#content {
    max-width: 1600px;
    margin: 0 auto;
}
.logo {
    width: 80px;
}
nav a {
    text-align: center;
    background-color: #FECE46;
    color: #067DAB;
    text-decoration: none;
}
nav a:hover {
    background-color: #6CA84E;
    color: white;
    text-decoration: underline;
}
.home-title {
    color: #057BA9;
}
.icon {
    width: 80px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #057BA9;
}
body {
    background-color: #6CA84E;
}
h4 {
    color: black;
}
header {
    background-color: rgba(20,30,13, .7);
}
.book, .join {
    background-color: #067DAB;
    color: white;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #6CA84E;
    color: #067DAB;
    text-decoration: underline;
}
.msg {
    background-color: #067DAB;
}
.msg h2 {
    color: white;
}
.msg p {
    color: white;
}
footer {
    background-color: black;
    color: white;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #057BA9;
    text-decoration: underline;
}